<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
        <bindings>
            <udpBinding>
                <binding name="UdpBinding_IChatService" />
            </udpBinding>
        </bindings>
        <client>
            <endpoint address="soap.udp://224.0.0.1:31498/" binding="udpBinding"
                bindingConfiguration="UdpBinding_IChatService" contract="Network.Client.IChatService"
                name="UdpBinding_IChatService" />
        </client>
    </system.serviceModel>
</configuration>
